# Confluence Credentials
USER=your_username_here
PSW=your_password_here

# Azure OpenAI Credentials
AZURE_OPENAI_KEY=your_key_here
AZURE_OPENAI_ENDPOINT=https://your-resource.openai.azure.com/
AZURE_OPENAI_API_VERSION=2024-02-15-preview

BASE_URL = "https://confluence.YOUR-COMPANY.com/confluence/rest/api"